In [ ]:
Control Flow in Python

In [8]:
#Write a program to find the longest word in a given sentence.

my_sentence = "Nobody knows where they might end up"
words = my_sentence.split()
max_word = "" #for finding max len

for word in words:
    if len(word) > len(max_word):
        max_word = word

print('The Longest word is:', max_word)

The Longest word is: Nobody

In [17]:
#Write a program to generate the first n prime numbers.

n = int(input("Enter number: "))
primes = []
num = 2

while len(primes) < n:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)
    num += 1

print("first n prime:", primes)

Enter number: 12
first n prime: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [22]:
#Write a program to convert a decimal number to its binary representation.

decimal = int(input("Enter a decimal number: "))
binary = ''

# Loop to convert
if decimal == 0:
    binary = '0'
else:
    while decimal > 0:
        binary = str(decimal % 2) + binary
        decimal = decimal // 2


print("The binary representation is:", binary)

Enter a decimal number: 456
The binary representation is: 111001000

In [2]:
#Write a program to sort a list of dictionaries by a specified key.
# dictionaries
data = [{"name": "melika", "age": 31,"student_id":901 }, {"name": "bahar", "age": 30, "student_id":903}, {"name": "mana", "age": 22, "student_id":902}]
sort_key = "student_id"
sorted_data = sorted(data, key=lambda x: x[sort_key])

print("Sorted data:", sorted_data)

Sorted data: [{'name': 'melika', 'age': 31, 'student_id': 901}, {'name': 'mana', 'age': 22, 'student_id': 902}, {'name': 'bahar', 'age': 30, 'student_id': 903}]

In [3]:
# Write a program to calculate the greatest common divisor (GCD) of two numbers.
# importing "math" for mathematical operations
import math

print("The gcd of 250 and 488 is : ", end="")
print(math.gcd(250, 488))

The gcd of 250 and 488 is : 2

In [5]:
n = 10 # Number of terms
a, b = 0, 1
for _ in range(n):
   print(a)
   a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [2]:
#Write a program to generate a list of the first n Fibonacci numbers.

n = 10 # Number of terms
a, b = 0, 1
for _ in range(n):
 print(a)
 a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [3]:
n = 10  # Number of terms
fib_list = []
a, b = 0, 1
for _ in range(n):
    fib_list.append(a)
    a, b = b, a + b

print(fib_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [27]:
#Write a program to find the intersection of two lists.

def intersection(list1, list2):
    list3 = [value for value in list1 if value in list2]
    return list3

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

print(intersection(list1, list2))

[4, 5]

In [30]:
list1 = [9, 57, 83, 10, 7]
list2 = [3, 65, 34, 76, 8, 2]
from heapq import merge
list(merge(list1, list2))

#Write a program to merge two sorted lists into a single sorted list.

[3, 9, 57, 65, 34, 76, 8, 2, 83, 10, 7]

In [31]:
#Write a program to calculate the dot product of two vectors.
import numpy as np

a = 3 + 8
b = 2 + 6
print(np.dot(a, b))

88

In [32]:
# Python program for simple calculator

# Function to add two numbers
def add(num1, num2):
	return num1 + num2

# Function to subtract two numbers
def subtract(num1, num2):
	return num1 - num2

# Function to multiply two numbers
def multiply(num1, num2):
	return num1 * num2

# Function to divide two numbers
def divide(num1, num2):
	return num1 / num2

print("Please select operation -\n" \
		"1. Add\n" \
		"2. Subtract\n" \
		"3. Multiply\n" \
		"4. Divide\n")


# Take input from the user
select = int(input("Select operations form 1, 2, 3, 4 :"))

number_1 = int(input("Enter first number: "))
number_2 = int(input("Enter second number: "))

if select == 1:
	print(number_1, "+", number_2, "=",
					add(number_1, number_2))

elif select == 2:
	print(number_1, "-", number_2, "=",
					subtract(number_1, number_2))

elif select == 3:
	print(number_1, "*", number_2, "=",
					multiply(number_1, number_2))

elif select == 4:
	print(number_1, "/", number_2, "=",
					divide(number_1, number_2))
else:
	print("Invalid input")

Please select operation -
1. Add
2. Subtract
3. Multiply
4. Divide

Select operations form 1, 2, 3, 4 :4
Enter first number: 3
Enter second number: 6
3 / 6 = 0.5